
@{
    ViewData["Title"] = "Callback";
}

<link rel="stylesheet" href="~/css/callback.css" />

<nav class="navbar fixed-top navbar-custom">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Find Song
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @foreach(var item in ViewBag.mapping)
            {
                <a class="dropdown-item" href="#@item.Key.getImages()[0]">@item.Key.getTrackName()</a>
            }
        </div>
    </div>
    <a id="spreco-export" class="navbar-brand" href="/home/export">
        Export Songs as Playlist
    </a>
</nav>


<div class="container-spreco">
    @foreach (var item in ViewBag.mapping)
    {
        <div class="parallax-container">
            <div class="parallax" id=@item.Key.getImages()[0]></div>
        </div> 
        <div class="similar-information">
            <h3>Inspired by:  @item.Key.getTrackName() - @item.Key.getArtistName()</h3>
            <div class="contents">
                @for (var i = 0; i < item.Value.Count; i += 3)
                {
                    <!-- https://open.spotify.com/track/6QT52j2GlfXHGR2sSCHLAU?si=qU8C4Y3yR960nd6oufhl1A -->
                <div class="row">
                    @if (i < item.Value.Count)
                    {
                        <div class="col-4">
                            <a href="https://open.spotify.com/track/@item.Value[i].getTrackId()" target="_blank" title="Open song in the Spotify Web Player">
                                @item.Value[i].getTrackName() by @item.Value[i].getArtistName()
                            </a>
                        </div>
                    }
                    @if (i + 1 < item.Value.Count)
                    {
                        <div class="col-4">
                            <a href="https://open.spotify.com/track/@item.Value[i+1].getTrackId()" target="_blank" title="Open song in the Spotify Web Player">
                                @item.Value[i+1].getTrackName() by @item.Value[i+1].getArtistName()
                            </a>
                        </div>
                    }
                    @if (i + 2 < item.Value.Count)
                    {
                        <div class="col-4">
                            <a href="https://open.spotify.com/track/@item.Value[i+2].getTrackId()" target="_blank" title="Open song in the Spotify Web Player">
                                @item.Value[i+2].getTrackName() by @item.Value[i+2].getArtistName()
                            </a>
                        </div>
                    }
                </div>
                }
            </div>
        </div>
    }
</div>


<script src="~/js/callback.js" asp-append-version="true"></script>

